@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --white:#fff;
    --bgc : #ECF2F7;
    --black:#000;
}


html{
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--bgc);
}


.testimonials{

    display: grid;
    width: 90%;
    margin: auto;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
    grid-template-areas: "t1 t1 t2 t3"
                         " t4 t5 t5 t3 ";        
    margin-top: 1.5rem;
}

.title{
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
}

.test1{

    background-color: #733FC7;
    grid-area: t1;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color:var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.test2{

    background: #49556C;
    grid-area: t2;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color:var(--white);

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.test3{

    background: #FEFEFE;
    grid-area: t3;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color:var(--black);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
.test4{

    background: #FEFEFE;
    grid-area: t4;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color:var(--black);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



}

.test5{

    background: #181F2C;
    grid-area: t5;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    color:var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}


.image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    

}


.image{
   display: flex;
   align-items: center;
   margin:1.2rem 0 ;
}

.image span{
    margin: 0 1rem;
}

.test-content{
    margin-top: 1.2rem;
    font-size: 2rem;
}

.test-title{
    font-size: 2rem;
}
.test-content::after{
  content: " \" ";
}
.test-content::before{
    content: " \" ";
  }

.name{
    font-size: 2rem;
    font-weight: 700;
}


@media (max-width:991px) {
    .testimonials{

     
        grid-template-rows: 1fr 1fr 1fr  ;
        grid-template-columns: 1fr 1fr 1fr ;
        justify-content: center;
        align-content: center;
        grid-gap:10px;
        grid-template-areas: "t1 t1 t2 "
                             " t4 t5 t5  "
                              "t3 t3 t3 ";        
        margin-top: 1.5rem;
    }
    
    
}

@media (max-width:768px) {
    .testimonials{

      
        grid-template-rows: repeat(5,auto);
        grid-template-columns: 1fr ;
        justify-content: center;
        align-content: center;
        grid-gap:10px;
        grid-template-areas: "t1 t1 t1 "
                             " t2 t2 t2 "
                              "t3 t3 t3 "
                               "t4 t4 t4"
                               "t5 t5 t5";        
        margin-top: 1.5rem;
    }
    
    
}
